<div class="form_container">
    <form class="form">
        <label class="form_title bold">New Student Info</label>
        <div class="form_div">
            <label for="username">*Username:</label>
            <input type="text" id="username" name="username">
        </div>

        <div class="form_div">
            <label for="email">*Email:</label>
            <input type="email" id="email" name="email">
        </div>

        <div class="form_div">
            <label for="major">*Major:</label>
            <input type="text" id="major" name="major">
        </div>

        <label class="form_div address">Student Address</label>

        <div class="form_div">
            <label for="streetName">Street Name:</label>
            <input type="text" id="streetName" name="streetName">
        </div>

        <div class="form_div">
            <label for="city">City:</label>
            <input type="text" id="city" name="city">
        </div>

        <div class="form_div">
            <label for="state">State:</label>
            <input type="text" id="state" name="state">
        </div>

        <div class="form_div">
            <label for="zipcode">Zipcode:</label>
            <input type="text" id="zipcode" name="zipcode">
        </div>

        <div class="form_div">
            <label for="country">Country:</label>
            <input type="text" id="country" name="country">
        </div>

        <button id="addStudentButton" type="submit">Submit</button>
    </form>
</div>

<div class="form_container">
    <form class="form" id="updateStudentForm">
        <label class="form_title bold">Update</label>
        <div class="form_div block">
            <label for="idStudent">idStudent:</label>
            <input type="text" id="idStudent" name="idStudent">
        </div>

        <div class="form_div block">
            <label for="emailUpdate">Email:</label>
            <input type="email" id="emailUpdate" name="emailUpdate">
        </div>

        <div class="form_div block">
            <label for="majorUpdate">Major:</label>
            <input type="text" id="majorUpdate" name="majorUpdate">
        </div>

        <label class="form_div address">Student Address</label>

        <div class="form_div">
            <label for="streetNameUpdate">Street Name:</label>
            <input type="text" id="streetNameUpdate" name="streetNameUpdate">
        </div>

        <div class="form_div">
            <label for="cityUpdate">City:</label>
            <input type="text" id="cityUpdate" name="cityUpdate">
        </div>

        <div class="form_div">
            <label for="stateUpdate">State:</label>
            <input type="text" id="stateUpdate" name="stateUpdate">
        </div>

        <div class="form_div">
            <label for="zipcodeUpdate">Zipcode:</label>
            <input type="text" id="zipcodeUpdate" name="zipcodeUpdate">
        </div>

        <div class="form_div">
            <label for="countryUpdate">Country:</label>
            <input type="text" id="countryUpdate" name="countryUpdate">
        </div>

        <button id="updateStudentButton" type="submit">Update</button>
    </form>
</div>

<div class="form_container">
    <form class="form" id="deleteStudentForm">
        <label class="form_title bold">Delete</label>

        <div class="form_div block">
            <label for="studentDelete">idStudent:</label>
            <input type="text" id="studentDelete" name="studentDelete">
        </div>

        <button id="deleteStudentButton" type="submit">Delete</button>
    </form>
</div>