<div class="form_container">
    <form class="form hide" id="newScheduleForm" method = "POST" action="/addSchedules">
        <img class="closeButton" onclick="toggleForm(`newScheduleForm`)" src="/addIcon"/>
        <label class="form_title bold">Create New Schedule</label>
        <div class="form_div">
            <label for="term">*Term:</label>
            <input type="text" id="term" name="term">
        </div>

            <input type="hidden" id="student" name="student" value="{{idSchedule}}">

        

        <button type="submit">Submit</button>
    </form>
</div>

<div class="form_container">
    <form class="form hide" id="deleteScheduleForm">
        <img class="closeButton" onclick="toggleForm(`deleteScheduleForm`)" src="/addIcon"/>
        <label class="form_title bold">Delete</label>

        <div class="form_div block">
            <label for="scheduleDelete">idSchedule:</label>
            <input type="text" id="scheduleDelete" name="scheduleDelete">
        </div>

        <button id="deleteScheduleButton" type="submit">Delete</button>
    </form>
</div>