<div class="form_container">
    <form class="form hide" id="addStudentCourseForm" method="POST" action="/addStudentCourse/{{idSchedule}}">
        <img class="closeButton" onclick="toggleForm(`addStudentCourseForm`)" src="/addIcon"/>
        <label class="form_title bold">Add course to your schedule</label>

        <div class="form_div">
            <label for="course">Course:</label>
            <select id="course" name="course" required>
                <option value="" disabled selected>Choose a course</option>
                {{#each courseNames}}
                    <option value="{{idCourse}}">{{title}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form_div">
            <label for="grade">Grade:</label>
            <input type="text" id="grade" name="grade" placeholder="_ _" maxlength="2" pattern="[^\d]+">
        </div>

        <button type="submit">Submit</button>
    </form>
</div>

<div class="form_container">
    <form class="form hide" id="deleteStudentCourseForm">
        <img class="closeButton" onclick="toggleForm(`deleteStudentCourseForm`)" src="/addIcon"/>
        <label class="form_title bold">Delete</label>
        <div class="form_div courseDropDown">
            <label for="deleteCourse">*Select Course:</label>
            <select id="deleteCourse" name="course">
                <option value="database">Intro To Assembly</option>
            </select>
        </div>

        <button id="deleteStudentCourseButton" type="submit">Delete</button>
    </form>
</div>
