<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>University Course Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/landingPage/index.css">
    <link rel="stylesheet" href="/student/studentsPage/students.css">

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" defer></script>
    <script src="/studentsPageTemplate.js" charset="utf-8" defer></script>

</head>

<body>
    <div id="logo_banner">
        <h1><a href="/public/landingPage/index.html?_ijt=ni26jp9mvcg27m5q4bg3a4musn&_ij_reload=RELOAD_ON_SAVE">CKHH University Course Planner</a></h1>
    </div>

    <div id="page_mini_title">
        <h2>Student Data</h2>
    </div>

    {{{body}}}

</body>
</html>