<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>University Course Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/index.css">

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" defer></script>
    <script src="/studentsPageTemplate.js" charset="utf-8" defer></script>

</head>

<body>
    <div id="logo_banner">
        <h1><a href="/">CKHH University Course Planner</a></h1>
    </div>

    {{{body}}}

</body>
</html>