<h2 style="margin-top: 5rem; text-align: center;">About This Website</h2>
{{!-- <h3 style="margin-top: 10px; text-align: center;">Working on it :)</h3> --}}

<div style="margin: 5rem;">
    <h3 style="margin-bottom: 1.5rem;">Contributors: Hla Htun, Cameron Kroeker</h3>

    <h3>
        Overview
    </h3>
    <div style="margin-left: 1rem; margin-top: 1rem;">
        <p style="margin-bottom: 1rem;">
            This project was our attempt to solidy our knowledge on dealing with relatoinal databases and linking up a website with a DBMS (Database Mangement System) - in this case, we are specifically making use of MariaDB.</br>
        <ul style="margin-left: 3rem;">
            <li>As of now, the website allows users to register students, add schedules, and courses for each of the students.</li>
            <li>It also allows users to register professors, classrooms, and courses.</li>
            <li>Users can also view all the schedules in the entire database.</li>
            <li>Each page also has helpful instructions and links to help users get familiar with the site faster</li>
        </ul>
        </p>

        <p style="margin-bottom: 1.5rem; margin-top: 2rem;">
            Our application will include the following features:

        <ul style="margin-left: 3rem;">
            <li>Students information: The planner provides details about each student</li>
            <li>Course information: The planner provides detailed information about each course, including prerequisites, credits, and descriptions.</li>
            <li>Professor information: The planner provides information about each professor, which includes their first and last name and their email.</li>
            <li>Class location and time: Students can click on a specific course’s title and all the details about that course will be displayed including professor teaching that class, meeting time, classroom building and room number, whether is online</li>
            <li>Schedule builder: Students can use the schedule builder to create a personalized schedule.</li>
        </ul>
        </p>
    </div>

    <h3 style="margin-top: 2rem;">GitHub Repository: <a href="https://github.com/HlaKarki/CS340Project" target="_blank">CS340Project</a></h3>
</div>
