<div id="page_mini_title">
    <h2>Classrooms Data</h2>
</div>
<div>

</div>

<div class="table_container">
    <table>
        <thead>
        <tr>
            <th>idClassroom</th>
            <th>Total Seats</th>
            <th>Building</th>
            <th>Room Number</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {{#each classrooms}}
            <tr>
                <td>{{classroomId}}</td>
                <td>{{totalSeats}}</td>
                <td>{{building}}</td>
                <td>{{roomNumber}}</td>
                <td><a href="#updateClassroomForm">Update</a></td>
                <td><a href="#deleteClassroomForm">Delete</a></td>
            </tr>
        {{/each}}

        </tbody>
    </table>
</div>

{{>classroomsPageCRUDForm}}