<div id="page_mini_title">
    <h2>Classrooms Data</h2>
</div>
<div>

</div>

<div class="table_container">
    <table>
        <thead>
        <tr>
            <th>idClassroom</th>
            <th>Total Seats</th>
            <th>Building</th>
            <th>Room Number</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>1</td>
            <td>75</td>
            <td>Weniger</td>
            <td>153</td>
            <td><a href="#updateClassroomForm">Update</a></td>
            <td><a href="#deleteClassroomForm">Delete</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>155</td>
            <td>Weniger</td>
            <td>151</td>
            <td><a href="#updateClassroomForm">Update</a></td>
            <td><a href="#deleteClassroomForm">Delete</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>105</td>
            <td>Linus Pauling Science Center</td>
            <td>125</td>
            <td><a href="#updateClassroomForm">Update</a></td>
            <td><a href="#deleteClassroomForm">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

{{>classroomsPageCRUDForm}}