<div id="page_mini_title">
    <h2>Classrooms Data</h2>
</div>
<div>

</div>

<div class="table_container">
    <div class="table_navbar">
        <div></div>
        <div class="addButton" onclick="toggleForm(`addNewClassroom`)">
            Add new professor &nbsp; &nbsp; <img src="/addIcon" alt="add icon">
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>idClassroom</th>
            <th>Total Seats</th>
            <th>Building</th>
            <th>Room Number</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {{#each classrooms}}
            <tr>
                <td>{{idClassroom}}</td>
                <td>{{totalSeats}}</td>
                <td>{{building}}</td>
                <td>{{roomNumber}}</td>
                <td><a href="#updateClassroomForm" onclick="updateClassroom()">Update</a></td>
                <td><a href="#deleteClassroomForm" onclick="deleteClassroom()">Delete</a></td>
            </tr>
        {{/each}}

        </tbody>
    </table>
</div>

{{>classroomsPageCRUDForm}}

<script>
    function updateClassroom(){
        toggleForm("updateClassroomForm")
    }

    function deleteClassroom(){
        toggleForm("deleteClassroomForm")
    }
</script>