<div id="page_mini_title">
    <h2>Professors Data</h2>
</div>

<div class="table_container">
    <table>
        <thead>
        <tr>
            <th>idProfessor</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {{#each professors}}
                <tr>
                    <td>{{professorId}}</td>
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                    <td>{{email}}</td>
                    <td><a href="#updateProfForm">Update</a></td>
                    <td><a href="#deleteProfForm">Delete</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{>professorsPageCRUDForm}}