<div id="page_mini_title">
    <h2>Professors Data</h2>
</div>

<div class="table_container">
    <table>
        <thead>
        <tr>
            <th>idProfessor</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>1</td>
            <td>Paris</td>
            <td>Kalathas</td>
            <td>kalathap@oregonstate.edu</td>
            <td><a href="#updateProfForm">Update</a></td>
            <td><a href="#deleteProfForm">Delete</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Christopher</td>
            <td>Buss</td>
            <td>bussch@oregonstate.edu</td>
            <td><a href="#updateProfForm">Update</a></td>
            <td><a href="#deleteProfForm">Delete</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Rob</td>
            <td>Hess</td>
            <td>hessr@oregonstate.edu</td>
            <td><a href="#updateProfForm">Update</a></td>
            <td><a href="#deleteProfForm">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

{{>professorsPageCRUDForm}}