<div id="page_mini_title">
    <h2>Student Data</h2>
</div>

<div class="table_container">
    <div id="explain_to_user">
        To check the schedule of a student, please click the values that are <label class="underline">underlined</label>
    </div>
    <table>
        <thead>
        <tr>
            <th>idStudent</th>
            <th>Username</th>
            <th>Email</th>
            <th>Major</th>
            <th>Address</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="/studentSchedules/1">1</a></td>
            <td><a href="/studentSchedules/1">cameron</a></td>
            <td>cameron@CKHH.edu</td>
            <td>CS</td>
            <td>1234 Spring Valley, Corvallis, Oregon, 97330, USA</td>
            <td><a href="#updateStudentForm">Update</a></td>
            <td><a href="#deleteStudentForm">Delete</a></td>
        </tr>
        <tr>
            <td><a href="/studentSchedules/2">2</a></td>
            <td><a href="/studentSchedules/2">hla</a></td>
            <td>hla@CKHH.edu</td>
            <td>CS</td>
            <td>5678 Winter Valley, Albany, Oregon, 97332, USA</td>
            <td><a href="#updateStudentForm">Update</a></td>
            <td><a href="#deleteStudentForm">Delete</a></td>
        </tr>
        <tr>
            <td><a href="/studentSchedules/3">3</a></td>
            <td><a href="/studentSchedules/3">trent</a></td>
            <td>trent@CKHH.edu</td>
            <td>CS</td>
            <td>9999 Error Location, Corvallis, Oregon, 97330, USA</td>
            <td><a href="#updateStudentForm">Update</a></td>
            <td><a href="#deleteStudentForm">Delete</a></td>
        </tr>

        </tbody>
    </table>
</div>

{{>studentsPageCRUDForm}}