*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo_banner {
    display: block;
    text-align: center;
}

#columns_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 3rem;
}

.column {
    border: 1px solid black;
    border-radius: 5px;
}

.column_content {
    margin: 0 0.5rem;
}

.column_title {
    margin: 1.5rem 0;
}

.column_title ~ div {
    margin: 1rem 0;
    font-size: 0.75rem;
}