*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo_banner {
    display: block;
    text-align: center;
}

#columns_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 3rem;
}

.column {
    border: 1px solid black;
    border-radius: 5px;
}

.column_content {
    margin: 0 0.5rem;
}

.column_title {
    margin: 1.5rem 0;
}

.column_title ~ div {
    margin: 1rem 0;
    font-size: 0.75rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.table_container {
    margin: 0 1rem;
}

#page_mini_title {
    margin: 2rem 0;
    text-align: center;
}

#explain_to_user {
    margin-bottom: 0.5rem;
    padding: 2px;
    border: 1px solid black;
    border-radius: 3px;
}

#explain_to_user p{
    margin-bottom: 0.5rem;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

#logo_banner a {
    text-decoration: underline;
    color: black;
}

#logo_banner a:hover {
    cursor: pointer;
}

.form_container {
    width: 70%;
    margin: 2rem auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}

.form_div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

#form_title {
    margin-bottom: 2rem;
}

input[type="text"],
input[type="email"]
{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.hide {
    display: none;
}